<!DOCTYPE html>
<html>
    <head>
        <title>Student Guide</title>
        <link rel="stylesheet" href="/static/brook.css">
    </head>
    <body>
        <h1 id="name">AI POWERED STUDENT GUIDE</h1>
        <h2 id="subhead">This program is designed to assist students in their studies by offering guidance and support in key areas to enhance their learning experience.</h2>
        <p id="first_p">
            Our platform empowers students by providing a comprehensive <strong>Roadmap Generator</strong> for structured learning, clear <strong>Definitions</strong> of complex concepts, efficient <strong>Text Summarization</strong>, and expert <strong>Resource Guidance</strong> to access the best learning materials. Explore these tools to make your academic journey more effective and enjoyable!
        </p>

        <div id="resource_buttons">
            <ul id="first_ul">
                <li>
                    <a href="/def" target="_blank"><button id="def">Get Info</button></a>
                    <p>Get clear and concise <strong>Definitions</strong> of concepts. Understand the fundamentals with ease and build a strong foundation.</p>
                    
                </li>

                <li>
                    <a href="/rod" target="_blank"><button id="rod">Generate Roadmap</button></a>
                    <p>Explore the <strong>Roadmap Generator</strong> to create a study plan tailored to your goals. Stay on track and achieve success efficiently!</p>
                    
                </li>

                <li>
                    <a href="/sum" target="_blank"><button id="sum">Summarize Text</button></a>
                    <p>Use the <strong>Text Summarization</strong> tool to condense lengthy articles, notes, saving you time and effort.</p>
                    
                </li>

                <li>
                    <a href="/res" target="_blank"><button id="res">Find Resource</button></a>
                    <p>Get related <strong>Resource Guidance</strong> to find the best tutorials, reference materials, and study aids for your academic needs.</p>
                </li>
            </ul>
            
        </div>

        
    </body>
</html>